
@{
    ViewBag.Title = "Access Denied Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="dialog box">
    <div class="container clearfix">
        <h1>
            <i class="large fa fa-bug"></i>403
        </h1>
        <h2>Access Denied</h2>
        <h3>We're Sorry but only special users can access this page. Please, <a href="#" data-toggle="modal" data-target="#login-modal">log in</a> or contact an administrator</h3>
    </div>
</section>


