@using Bussiness.Entities
<footer id="myFooter">
    @{
        User user = (User)HttpContext.Current.Session["user"];
        if (user != null) {
            @: @user.Username!
    }
    }
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo">
                    <img src="https://logojoy.com/wp-content/uploads/2017/10/Ic_brand_guidelines@2x.png">
                </h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Bookable</a>
                    </li>
                    <li>
                        <a href="#">Type Bookable</a>
                    </li>
                    <li>
                        <a href="#">Booking</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li>
                        <a href="#">Group Members</a>
                    </li>
                    <li>
                        <a href="#">Desktop Version</a>
                    </li>
                    <li>
                        <a href="#">Release Notes</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>2017 - Universidad Tecnológica Nacional Facultad Regional Rosario - UTN FRRO - Castaño Ezequiel, Garcia Joaquín</p>
    </div>
</footer>