<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Unidad4Lab03Ej7.Properties.Settings.net2017ConnectionString"
            connectionString="server=localhost;user id=root;password=moloyitp7;persistsecurityinfo=True;database=net2017"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>