@model UI.Web_MVC.Models.AlumnoAverage

@{
    ViewBag.Title = "ListadoAverage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListadoAverage</h2>

<div>
    <h4>AlumnoAverage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Promedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promedio)
        </dd>

    </dl>
</div>

